body{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#svgContainer::-webkit-scrollbar {
  display: none;
}
#svgContainer{
  overflow-x: scroll;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(5,5,5,0.94) 0%, rgba(10,11,11,0.97) 53%, rgba(15,15,15,1) 77%, rgba(17,17,17,0.99) 100%, rgba(0,0,0,0.99) 100%);
  padding-top: 90px;
  padding-bottom: 40px;
}
.node {
  fill: #fff;
}
.nodeRoot .aresCount{
  font: 11px sans-serif;
  fill: #fff !important;
  cursor: pointer;
}
.nodeNonRoot .aresCount{
  font: 11px sans-serif;
  fill: #3a3a3a;
  cursor: pointer;
}
.node circle {
  /* fill: #fff; */
  stroke:gray;
  stroke-width: 2px;
}

.node:hover .aresState{
    font-size: 13px ;
}
.node .aresState {
  font: 0px sans-serif;
  fill: #dddddd;
}
.node .rootStateT{
  font: 13px sans-serif;
}
.link {
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 0.9px;
}
/**
the choice blocks
**/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#choice_container{
  text-align: center;
  color: #9a9a9a;
  font: 14px helvetica;
  width: 100%;
  position: absolute;
}
#aresImg{
  width: 100%;
  opacity: 0.6;
}
#aresImgCtr{
  width: 5%;
  margin: auto;
}
.state_choices{
  float: left;
  padding: 15px;
  border-radius: 10px;
}
.state_choices:hover{
  cursor: pointer;
}
#choice {
  border-radius: 11px;
  /* border-style: solid ;
  border-color: #a8a9aA; */
  border: 2px #a8a9aA solid;
  width: fit-content;
  margin: auto;
  margin-top: 5px;
}
#ares_current_state{
  border-left: 3px solid #18191A;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#whole_state{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ucts{
  fill: #4682b4;
}